body{
    background-image: linear-gradient(to left,rgb(55, 165, 255),white); 

}
.jk{width:400px; height: 300px;}
.textarea {
    vertical-align: top;
  
    height: 5em;
  
resize: vertical;
  }
.corinthians {width: 200px;
margin-left: 50px; }
.vasco {width: 198px;}

.iconi{ 
    width: 100px;
}
.luiz{ margin-left: 250px;}
.JAO{
    padding-top: 200px;
}